@font-face {
  font-family: Roboto-Mono;
  src: url(/RobotoMono-VariableFont_wght.ttf);
}
* {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
  font-family: "Roboto-Mono", sans-serif;
}
h2{
    color: white;
    font-size: 10px;
    cursor: pointer;
}